<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lin.mapper.GirlMapper">
    <resultMap id="GirlMap" type="Girl"></resultMap>

    <select id="getGirls" resultMap="GirlMap">
        select * from girl
    </select>
    <select id="getGirlById" resultMap="GirlMap">
        select * from girl where girlId = #{girlId}
    </select>
    <update id="updateGirl" parameterType="Girl">
        update girl set girlName = #{girlName}, age  = #{age}, job = #{job}
        where girlId = #{girlId}
    </update>
</mapper>